html {
	height: 100%;
}

body {
    /*font: normal 30px "Helvetica Neue",Helvetica,sans-serif !important;*/
    /*height: 100%;*/
    background: #132B36 !important;
    color: #ecf0f1 !important;

    /* For browsers that do not support gradients */
/*    background: -webkit-linear-gradient(#f8f8f9, #fff) fixed;
    background: -o-linear-gradient(#f8f8f9, #fff) fixed;
    background: -moz-linear-gradient(#f8f8f9, #fff) fixed;
    background: linear-gradient(#f8f8f9, #fff) fixed; */
}

h1 {
    font: normal 50px "Helvetica Neue",Helvetica,sans-serif !important;
	text-align: center;
}

.progress-barr {
    width: 0px;
    height: 50px;
    margin: 0 auto;
    background: #78A3A7;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #305251 !important;
    text-align: center !important;
}

.text-center {
    text-align: center;
}

.pure-button.pure-button-primary.button-xlarge {
	font-size: 200%;
}

.pure-button.pure-button-primary.download-file {
    display: none;
}